<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />

    <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
          <script type="text/javascript" src="../static/js/app.js"></script>


</head>

<body>
    <div id="container" class="container">
        <div id="left" class="container_left"></div>
        <div id="right" class="container_right">
            <div id="right_up" class="container_right_up">
                <div id="map">
                    <!-- Graph one -->
                </div>
                <div>
                    <!-- Graph two -->
                </div>
            </div>
            <div id="right_down" class="container_right_down">
                <div>
                    <!-- Graph bottom 1 -->
                </div>
                <div>
                    <!-- Graph bottom 2 -->
                </div>
            </div>
        </div>
    </div>
</body>
</body>

</html>