<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
// Loading the data from Flask and saving it in a variable
        let alldata = {{ data| tojson }};
        // let alldataworld = JSON.parse(alldata);
    </script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/accessibility.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<!-- Page Title -->
<body>
    <h1>World Connectivity Visualisation Dashboard</h1>

    <!-- for loop to fetch data from plot_chart function in the flask for the submit option -->
    <form action="{{ url_for("plot_chart") }}" method="post">
        <select name="filter1">
            {% for o in data['filter1list'] %}
            <option value="{{ o }}" {{ 'selected="selected"' if o==data['filter1']}}>{{ o }}</option>
            {% endfor %}
        </select>
        <select name="filter2">
            {% for o in data['filter2list'] %}
            <option value="{{ o }}" {{ 'selected="selected"' if o==data['filter2']}}>{{ o }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>
    <!-- Countries chart connected to the above function -->
    <div class="box-big">
        <div class="box-big-left">
            <h2>World Countries Data</h2>
            <div style="height:100%;width:100%" id="plot"></div>
        </div>

        <!-- Interactive World map with dynamic legend, connected to the same submit buttons as the bar chart above -->
        <div id="map-box" class="box-big-right"> 
            <h2>World Map</h2>
            <div class="slider">
                <span id="show_slider_value" style="color:black;font-weight:bold;"></span><br>
                <input type="range" min="2000" max="2020" step="1" value="2000" name="year"
                    onchange="updateChart(this.value)">
            </div>
            <!-- Before/while the data loads this message will show -->
            <div style="height:100%;width:100%" id="container-map">
                <div class="loading">
                    <i class="icon-spinner icon-spin icon-large"></i>
                    Loading data from World Bank...
                </div>
            </div>
        </div>
        <!-- Interactive Chart for Internet Usage by Sex for World Regions-->
        <div class="box-big-left">
            <h2>Percentage of individuals using the Internet, by Sex</h2>
            <div  id="gender-plot" style="height:100%;width:100%"></div>
        </div>
    </div>


    <!--  Interactive Line chart for World Regions -->
    <div class="box-big">
        <div class="box-bottom-left">
            <h2> World Region Data</h2>
            <div id="myButtons"></div>
            <div style="width: 100%; height:100%;" id='line-chart'></div>
        </div>
        <!-- Interactive Chart for Internet Usage by Age for World Regions -->
        <div  class="box-bottom-right"  >
            <h2>Percentage of individuals using the Internet, by Age</h2>
            <div style="width: 100%; height:100%;" id="age-plot"></div>
        </div>
    </div>



<!--  Javascript scripts -->
    <script type="text/javascript" src="../static/js/app.js"></script>
    <script type="text/javascript">

        // Filtering record by Year and Series Name for World Map including the function for the
        function updateChart(year) {
            update_slider_value(year)
            // console.log("year=" + year);
            filterResult = Object.values(JSON.parse(alldata.dataWorld)).filter(jd => jd.Year === parseInt(year) && jd.SeriesName === title);
            //   let filterResult = JSON.parse(alldata.dataWorld);
            // console.log("filterResult = " + filterResult);
            // console.log("alldata =" + alldata.dataWorld);
            const jData = filterResult.map((value, index) => ({
                code: value.Codes.toUpperCase(),
                value: parseFloat(value.Values),
                name: value.Country
            }));
            drawChart(jData, year);
        };
        updateChart(2000);
    </script>
</body>

</html>